<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description %></td>
  </tr>
  <tr>
    <td><%= f.label :start_at_date %></td>
    <td><%= f.text_field :start_at_date, value: standard_table_date(f.object.start_at_date), readonly: true, class: 'jsDatepicker' %></td>
  </tr>
  <tr>
    <td><%= f.label :start_at_time %></td>
    <td><%= f.time_select :start_at_time, value: f.object.start_at_time, ampm: true %></td>
  </tr>
  <tr>
    <td>
      <%= f.submit %>
      <%= link_to 'Cancel', schedules_path %>
    </td>
  </tr>
</table>
