<%= form_tag connect_twitch_bots_path do %>
  <table class="table">
    <tr>
      <td><%= label_tag :channel_name, 'Channel Name' %></td>
      <td><%= text_field_tag :channel_name %></td>
    </tr>
    <tr>
      <td><%= label_tag :bot_name, 'Bot Name' %></td>
      <td><%= text_field_tag :bot_name, 'MikeBot' %></td>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag 'Connect' %></td>
    </tr>
  </table>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Active Channels</th>
    </tr>
  </thead>
  <tbody>
    <% Thread.list.select{|thread| !thread[:channel_name].nil? }
    .each do |channel| %>
      <tr>
        <td><%= channel[:bot_name] %></td>
        <td><%= channel[:channel_name] %></td>
        <td><%= link_to('Disconnect', disconnect_twitch_bots_path(channel_name: channel[:channel_name], bot_name: channel[:bot_name]), method: :post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
