<table class="table">
  <thead>
    <tr>
      <th>Bot Name</th>
      <th>Channel Name</th>
      <th>Live Status</th>
      <th>Intended Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @channel_bots.each do |channel_bot| %>
      <tr>
        <td><%= channel_bot.bot_name %></td>
        <td><%= channel_bot.channel_name %></td>
        <td><%= channel_bot.live_status %></td>
        <td><%= channel_bot.intended_status %></td>
        <td>
          <% if channel_bot.intended_status_id == 0 %>
            <% form_path_name = connect_twitch_bots_path %>
            <% submit_label = 'Connect' %>
          <% else %>
            <% form_path_name = disconnect_twitch_bots_path %>
            <% submit_label = 'Disconnect' %>
          <% end %>
          <%= form_tag form_path_name do %>
            <%= hidden_field_tag :bot_id, channel_bot.id %>
            <%= submit_tag submit_label %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% threads = Thread.list %>
<%= threads.count %>
