<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @channel_bots.each do |channel_bot| %>
      <tr>
        <td><%= channel_bot.bot_name %></td>
        <td><%= channel_bot.channel_name %></td>
        <td><%= channel_bot.live_status %></td>
        <td><%= channel_bot.intended_status %></td>
        <td>
          <% if channel_bot.intended_status_id == 0 %>
            <% form_path_name = connect_twitch_bots_path %>
            <% submit_label = 'Connect' %>
          <% else %>
            <% form_path_name = disconnect_twitch_bots_path %>
            <% submit_label = 'Disconnect' %>
          <% end %>
          <%= form_tag form_path_name do %>
            <%= hidden_field_tag :channel_name, channel_bot.channel_name %>
            <%= hidden_field_tag :bot_name, channel_bot.bot_name %>
            <%= submit_tag submit_label %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Active Channels</th>
    </tr>
  </thead>
  <tbody>
    <% Thread.list.select{|thread| !thread[:channel_name].nil? }
    .each do |channel| %>
      <tr>
        <td><%= channel[:bot_name] %></td>
        <td><%= channel[:channel_name] %></td>
        <td><%= link_to('Disconnect', disconnect_twitch_bots_path(channel_name: channel[:channel_name], bot_name: channel[:bot_name]), method: :post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
