<%= f.hidden_field :channel_id, value: current_channel.id %>
<table class="table">
  <tbody>
    <tr>
      <td><%= f.label :command %></td>
      <td>! <%= f.text_field :command %></td>
    </tr>
    <tr>
      <td><%= f.label :response %></td>
      <td><%= f.text_area :response %></td>
    </tr>
    <tr>
      <td><%= f.label :permission_id %></td>
      <td><%= f.select :permission_id, permission_options_for_select %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.submit %>
        <%= link_to 'Cancel', custom_commands_path %>
      </td>
    </tr>
  </tbody>
</table>
