<table class="table">
  <thead>
    <tr class="sorter" data-sortable="custom-commands">
      <th>Command</th>
      <th>Response</th>
      <th>Permission</th>
      <th>Repeat Status</th>
      <th>Repeat Cycle</th>
      <th>Repeat Start</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="hidden" data-expandable="new-command">
    <tr class="js-form-fields-container">
      <td>!<%= text_field_tag 'custom_command[command]' %></td>
      <td><%= text_area_tag 'custom_command[response]' %></td>
      <td><%= select_tag 'custom_command[permission_id]', permission_options_for_select %></td>
      <td><%= select_tag 'custom_command[command_repeater_attributes][status_id]', repeater_status_options_for_select %></td>
      <td><%= number_field_tag 'custom_command[command_repeater_attributes][cycle_seconds]' %></td>
      <td><%= text_field_tag 'custom_command[command_repeater_attributes][start_at]', nil, class: 'jsDatepicker', id: nil %></td>
      <td class="js-form-container">
        <%= form_tag custom_commands_path do %>
          <%= hidden_field_tag 'custom_command[channel_id]', current_channel.id %>
        <% end %>
        <span class="fake-link js-submit-form">Create</span>
        <span>|</span>
        <span class="fake-link expander" data-expander="new-command">Cancel</span>
      </td>
    </tr>
  </tbody>
  <tbody data-expandable="new-command">
    <tr>
      <td colspan="4">
        <span class="fake-link expander" data-expander="new-command">New Command</span>
      </td>
    </tr>
  </tbody>
  <tbody class="sortable" data-sorter="custom-commands">
    <%= render partial: 'custom_command', collection: @custom_commands %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    bindExpanders()
    bindJsFormSubmitters()
  })
</script>
