<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to('Home', root_path, class: 'nav-link') %>
      </li>
      <li class="nav-item active">
        <%= link_to('Command Settings', commands_path, class: 'nav-link') %>
      </li>
      <li class="nav-item active">
        <%= link_to('Custom Commands', custom_commands_path, class: 'nav-link') %>
      </li>
      <li class="nav-item active">
        <%= link_to('Moderators', moderators_path, class: 'nav-link') %>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bots
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('All', channel_bots_path, class: 'dropdown-item')%>
          <%= link_to('New', new_channel_bot_path, class: 'dropdown-item')%>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schedule Blocks
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('All', schedules_path, class: 'dropdown-item')%>
          <%= link_to('New', new_schedule_path, class: 'dropdown-item')%>
        </div>
      </li>
      <li class="nav-item active">
        <%= link_to('Logout', destroy_channel_session_path, method: :delete, class: 'nav-link') %>
      </li>
    </ul>
  </div>
</nav>
